doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
    link(rel='stylesheet' href='/../css/bootstrap.min.css')
    link(rel='stylesheet' href='/../css/sass/main.css')
    title mojBus
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container-fluid
        a.navbar-brand(href='/') mojBus
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            if locals.tip_naloga=='korisnik'
              li.nav-item
                a.nav-link(href='/') Red vožnje
              li.nav-item
                a.nav-link(href='/rezervacija/moje') Prikaži rezervacije
            if locals.tip_naloga=='admin'
              li.nav-item
                a.nav-link(href='/rezervacija/citac') Čitanje karte
              li.nav-item
                a.nav-link(href='/autobus/kreiraj') Kreiraj autobus
              li.nav-item
                a.nav-link(href='/redvoznje/kreiraj') Kreiraj red vožnje
              li.nav-item
                a.nav-link(href='/redvoznje/lista') Redovi vožnje
              li.nav-item
                a.nav-link(href='/destinacija/kreiraj') Kreiraj destinaciju 
              li.nav-item
                a.nav-link(href='/destinacija/lista') Prikaži destinacije
              li.nav-item
                a.nav-link(href='/prevoznik/kreiraj') Kreiraj prevoznika 
              li.nav-item
                a.nav-link(href='/prevoznik/lista') Prikaži prevoznike
              li.nav-item
                a.nav-link(href='/rezervacija/moje') Prikaži rezervacije
              li.nav-item
                a.nav-link(href='/korisnik/kreiraj') Kreiraj korisnika
            if locals.tip_naloga=='kondukter'
              li.nav-item
                a.nav-link(href='/rezervacija/citac') Čitanje karte
              li.nav-item
                a.nav-link(href='rezervacija/moje') Prikaži rezervacije
            if locals.tip_naloga=='prodavac'
              li.nav-item
                a.nav-link(href='rezervacija/moje') Prikaži rezervacije
        ul.navbar-nav
          if !locals.korisnik_id
            li.nav-item
              a.nav-link(href='/prijava') Prijava
            li.nav-item
              a.nav-link(href='/registracija') Registracija
            i.fas.fa-sign-out-alt
          else 
            li.nav-item
              form(action='/odjava' method='POST')
                button.btn.primary-btn(type='submit') Odjava
    .containter
    if error!==""
      .row.justify-content-center
          .col-xs-12.col-md-6
            .alert.alert-danger(role='alert')=error
    if success!==""
      .row.justify-content-center
          .col-xs-12.col-md-6
            .alert.alert-success(role='success')=success
    block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='/js/app.js')
