extends ../layout
block content
    .container
        .row 
            .col-12.d-flex.justify-content-center.flex-column
                strong Relacija&nbsp;
                =rezervacija.pocetna_destinacija.ime+'-'+rezervacija.krajnja_destinacija.ime
                br
                strong Broj karte&nbsp; 
                =rezervacija.rezervisana_sedista[0].id
                br
                strong Šifra rezervacije&nbsp;
                =rezervacija.rezervisana_sedista[0].sifra_karte
                br
                strong Vreme polaska&nbsp; 
                =vreme_polaska

                strong Red&nbsp;
                =rezervacija.rezervisana_sedista[0].red
                br
                strong Mesto u redu&nbsp;
                =rezervacija.rezervisana_sedista[0].mesto_u_redu
                br
                strong Ocitana&nbsp;
                    if rezervacija.rezervisana_sedista[0].ocitana==0
                        span.badge.bg-success Ne
                    else
                        span.badge.bg-danger Da
                br
                strong Platio&nbsp;
                    if rezervacija.platio==0
                        span.badge.bg-success Ne
                    else
                        span.badge.bg-danger Da
                br
                br
                br
                if rezervacija.rezervisana_sedista[0].ocitana==0
                    form.col-12(action='/rezervacija/ocitaj/'+rezervacija.rezervisana_sedista[0].id+'/'+rezervacija.rezervisana_sedista[0].sifra_karte method='POST')
                        .form-group
                        if locals.tip_naloga
                            if locals.tip_naloga!='korisnik'
                                button.btn.btn-primary.col-12(type='submit') Očitaj
                else 
                   .row.justify-content-center
                        .d-flex.justify-content-center.flex-column
                            .alert.alert-danger(role='alert')
                                |Karta je već očitana
