extends ../layout 
block content
    form.container.red-voznje(action='http://localhost:5000/redvoznje/'+id+'/kopiraj' method='POST')
        .row
            h1.text-center Kopiranje reda vožnje
            .col-6
                .alert.alert-warning
                    | Povratno putovanje morate posebno kreirati kao novi red vožnje
                h2
                    | 1. Izaberi naziv reda vožnje
                input(type='text' name='naziv' placeholder="Unesi naziv reda vožnje")
                h2
                    | 2. Odaberite dane i vreme polazaka
                table.table
                    thead.thead-dark
                        tr
                            th(scope='col') Ponedeljak
                            th(scope='col') Utorak
                            th(scope='col') Sreda
                            th(scope='col') Četvrtak
                            th(scope='col') Petak
                            th(scope='col') Subota
                            th(scope='col') Nedelja
                    tbody
                        tr
                            td.text-center
                                input(type='checkbox' name='ponedeljak')
                            td.text-center
                                input(type='checkbox' name='utorak')
                            td.text-center
                                input(type='checkbox' name='sreda')
                            td.text-center
                                input(type='checkbox' name='cetvrtak')
                            td.text-center
                                input(type='checkbox' name='petak')
                            td.text-center
                                input(type='checkbox' name='subota')
                            td.text-center
                                input(type='checkbox' name='nedelja')
                .form-group
                    label(for='vreme_polaska') Vreme polaska
                    input.form-control(id='vreme_polaska' type='time' name='vreme_polaska' value='12:00')
              
                h2
                    | 3. Početak i kraj važenja reda vožnje
                | Od&nbsp;
                input(type='date' name='pocetak_vazenja' value=danasnji_datum)
                | &nbsp; Do &nbsp;
                input(type='date' name='rok_vazenja' value=danasnji_datum)
                h2
                    | 4.Odaberi autobus
                select.autobus(name='autobus' aria-label='')
                    option(value='-1' selected) Odaberi autobus
                    each autobus in autobusi
                        option(value=autobus.id)=autobus.naziv
                h2
                    | 5. Obrni smer
                input(type='checkbox' name='obrni_smer')
                br
                input.btn.btn-primary(type='submit' value='Dodaj novi red vožnje')

