extends ../layout 
block content
    form.container.red-voznje(action='http://localhost:5000/redvoznje/kreiraj' method='POST')
        .row
            h1.text-center Kreiranje novog reda vožnje
            .col-6
                .alert.alert-warning
                    | Povratno putovanje morate posebno kreirati kao novi red vožnje
                h2
                    | 1. Izaberi naziv reda vožnje
                input(type='text' name='naziv' placeholder="Unesi naziv reda vožnje")
                h2
                    | 2. Odaberite dane i vreme polazaka
                table.table
                    thead.thead-dark
                        tr
                            th(scope='col') Ponedeljak
                            th(scope='col') Utorak
                            th(scope='col') Sreda
                            th(scope='col') Četvrtak
                            th(scope='col') Petak
                            th(scope='col') Subota
                            th(scope='col') Nedelja
                    tbody
                        tr
                            td.text-center
                                input(type='checkbox' name='ponedeljak')
                            td.text-center
                                input(type='checkbox' name='utorak')
                            td.text-center
                                input(type='checkbox' name='sreda')
                            td.text-center
                                input(type='checkbox' name='cetvrtak')
                            td.text-center
                                input(type='checkbox' name='petak')
                            td.text-center
                                input(type='checkbox' name='subota')
                            td.text-center
                                input(type='checkbox' name='nedelja')
                .form-group
                    label(for='vreme_polaska') Vreme polaska
                    input.form-control(id='vreme_polaska' type='time' name='vreme_polaska' value='12:00')
                h2
                    | 3. Odaberi prevoznika
                select.prevoznik(name='prevoznik' aria-label='')
                    option(value='-1' selected) Odaberi prevoznika
                    each prevoznik in prevoznici
                        option(value=prevoznik.id)=prevoznik.naziv
                h2
                    | 4.Odaberi autobus
                select.autobus(name='autobus' aria-label='')
                    option(value='-1' selected) Odaberi autobus
                    each autobus in autobusi
                        option(value=autobus.id)=autobus.naziv
                h2
                    | 5. Rok važenja reda vožnje
                input(type='date' name='rok_vazenja' value=danasnji_datum)
                h2
                    | 6. Odaberi stanice na kojima staje autobus
                table.table.table-bordered.table-striped.stanice-lista
                    thead
                        th Redni broj
                        th Stanica
                        th Minuti od početne
                        th Kilometri od početne
                        th Akcije
                    tbody
                        tr.stanice-group
                            td.redni-br 1.
                            td
                                select.stanice(name='stanice[]' aria-label='')
                                    option(value='-1' selected) Odaberi destinaciju
                                    each destinacija in destinacije
                                        option(value=destinacija.id)=destinacija.ime
                            td
                                input(type='number' name='vreme[]' readonly value="0")
                            td
                                input(type='number' name='kilometri[]' readonly value="0")
                            td
                                button.obrisi-btn Obriši
                h2
                    | 7. Popuni cenovnik
                #cenovnik.cenovnik
                    button#cenovnik-btn.btn.btn-primary.btn-cenovnik(type='button') Započni
                    .alert.alert-warning Kada započnete popunjavanje cenovnika više nećete biti u mogućnosti da menjate stanice
                input.btn.btn-primary(type='submit' value='Dodaj novi red vožnje')

